html, body {
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder; 
    text-align: center; 
    width: 100%; 
    margin: 0; 
    background: url('../src/components/Wrapper/gold_bkgrnd.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-header {
    font-size: 55px; 
    padding-top: 5px; 
}

.nav-container {
    display: inline-flex; 
    flex-direction: row;  
    justify-content: space-around; 
    background: rgba(215, 150, 32, 0.6);
    width: 100%;
    border-bottom: 1px solid black; 
    height: 125px;
}

.nav-elements {
    list-style-type: none;
    padding-top: 5px; 
}

.each-nav-element {
    font-size: 20px; 
}

.footer-container {
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    background-color: black; 
}

.footer-content {
    color: goldenrod; 
}

a {
    text-decoration: none; 
    color: goldenrod; 
}

a:hover {
    color: darkgrey; 
    text-decoration: none; 
}